:root {
    --color-contrastPink: #ff9dab;
}

.bgOsnFon{
    background: #ffe6ea;
}
.bgFonDop{
    background: #fff2f5;
}
.bgPinkContrast{
    background: #ff9dab;
}

.logotype{
    width: 150px;
}
.textBoxSearch{
    width: 400px;
}

header{
    background: pink;
}

.card {
    border: none;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
}

.buttonS {
    background: #cda9ac;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    letter-spacing: 1px;
    color: #F5F5F5;
    cursor: pointer;
}
.button:hover {
    background: #BA7E7E;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

body{
    background: #ffe6ea
}

.aS{
   background: #BA7E7E;
    border-color: black;
}

nav {
    display: table;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topmenu:after {
    content: "";
    display: table;
    clear: both;
}
.topmenu > li {
    width: 25%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    padding: 15px 30px;
}
.topmenu li a:hover {color: #D5B45B;}
.submenu-link:after {
    content: "\f107";
    color: inherit;
    margin-left: 10px;
}
.submenu {
    background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
}
.submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}